@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
/*header style*/
.header{
	margin: 30px;
}
.logo{
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.nav-list{
	display: inline-block;
	margin-right: 18px;
}
.nav-a{
	line-height: 28px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 22px;
	color: #3D58A6;
}
.active{
	line-height: 28px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 22px;
	color: #EE4036;
}

/*footer*/
.footer{
	margin: 70px 90px; 
}
.divider{
	width: 1px;
	height: 26.67px;
	background-color: #363E97;
	display: inline-block;
	margin-right: 30px;
	margin-left: 36px;
}
/*section1&2-index.html*/
.container{
	width: 1170px;
	margin: auto;
}
.headline3{
	text-transform: uppercase;
	text-decoration: underline overline;
	font-weight: 500;
	font-family: 'Roboto';
	font-size: 24px;
	margin-top: 118px;
}
.block{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	display: inline-block;
	padding: 25px;
	margin-top: 30px;
}
.headline4{
	font-family: 'Roboto', sans-serif;
	color:  #3D58A6;
}
.txt-block{
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	display: inline-block;
	width: 353.49px;
	height: 156.78px;
	vertical-align: middle;
}
.block-img{
	margin-top: 13px;
	margin-right: 60px;
}
/*article-news.html*/
.article{
	margin-left: 20px;
	margin-bottom: 25px;
	width: 1238px;
	display: inline-block;
}
.article-date{
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	font-size: 48px;
	color: #FFFFFF;
}
.txt-headline{
	font-family: "BPG Nino Mtavruli", sans-serif;
	margin-top: 18px;
	margin-bottom: 18px;
}
.par{
	line-height: 19.2px;
	text-indent: 60px;
	margin-left: 30px;
	vertical-align: top;
	display: inline-block;
	width: 930px;
}